# Ignore Data files
*/zip_data
*/extracted_data
*/cropped_data
*/data
*/data.zip
/data/*

# Ignore initial model file
/initial_model.pth

# Ignore temporary files
/app/__pycache__
/.ipynb_checkpoints
/.terraform.lock.hcl
/terraform.tfstate
/terraform.tfstate.backup
/.terraform.tfstate.lock.info

#ignore logs and accs info files
/*.json
/logs/*
/experiments_results/
/app/config.ini
/cloud-config.yaml
/credentials.ini
/YandexInternalRootCA.crt

# Ignore scratch jupyter notebook
/scratch.ipynb

