# Ignore Data files
*/zip_data
*/extracted_data
*/cropped_data
*/data
*/data.zip

# Ignore temporary files
/app/__pycache__
/.ipynb_checkpoints
/.terraform.lock.hcl
/terraform.tfstate
/terraform.tfstate.backup
/.terraform.tfstate.lock.info

#ignore logs and accs info files
/*.json
/logs/*
/app/config.ini
/cloud-config.yaml

# Ignore scratch jupyter notebook
/scratch.ipynb
